
@font-face {
    font-family: laikas;
    src: url("../timestamps/laikas-regular-webfont.woff") format('woff');
    src: url("../timestamps/laikas-regular-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font02;
    src: url("../timestamps/font02-regular-webfont.woff") format('woff');
    src: url("../timestamps/font02-regular-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

p.a {
  word-break: break-all;
}

.column {
  float: left;
  width: 40%;
    word-wrap: break-word;
    margin: 10%;
}



.image-container {
  display: flex;
  justify-content: center;
}


